test.xml

<wsdl:definitions xmlns:tns="http://soapinterop.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapinterop.org/">

    <wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soapinterop.org/base">
            <xsd:simpleType name="PhoneTypeEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Home"/>
                    <xsd:enumeration value="Office"/>
                    <xsd:enumeration value="Gsm"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>

        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soapinterop.org/base">


            <xsd:import namespace="http://soapinterop.org/emailtype"/>
        </xsd:schema>
        <xsd:schema targetNamespace="http://soapinterop.org/base">
            <xsd:simpleType name="PhoneTypeEnum">
                <xsd:restriction base="string">
                    <xsd:enumeration value="Home"/>
                    <xsd:enumeration value="Office"/>
                    <xsd:enumeration value="Gsm"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema><xsd:schema targetNamespace="http://soapinterop.org/base">
        <xsd:simpleType name="PhoneTypeEnum">
            <xsd:restriction base="string">
                <xsd:enumeration value="Home"/>
                <xsd:enumeration value="Office"/>
                <xsd:enumeration value="Gsm"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:schema><xsd:schema targetNamespace="http://soapinterop.org/emailtype">
        <xsd:simpleType name="EmailTypeEnum">
            <xsd:restriction base="string">
                <xsd:enumeration value="Home"/>
                <xsd:enumeration value="Office"/>
                <xsd:enumeration value="Gsm"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:schema></wsdl:types>

    <wsdl:message name="validateRequest">
        <wsdl:part name="input" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="validateResponse">
        <wsdl:part name="output" type="xsd:string"/>
    </wsdl:message>

    <wsdl:portType name="InteropTestPortType">
        <wsdl:operation name="validate">
            <wsdl:input message="tns:validateRequest"/>
            <wsdl:output message="tns:validateResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InteropTestBinding" type="tns:InteropTestPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="validate">
            <soap:operation soapAction="http://soapinterop.org/validate" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InteropTest">
        <wsdl:port name="InteropTestPort" binding="tns:InteropTestBinding">
            <soap:address location="http://soapinterop.org/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>